<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Scholarship/src/edu/nashcc/scholarship/Scholarship.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.nashcc.scholarship.Scholarship"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Scholarship"/>
</launchConfiguration>
